* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

.bg-primary {
    background-color: #084d92 !important;
}
.text-primary{
    color: #084d92!important;
}
.logo {
    width: 11%;
}

.banner {
    background-image: url(../images/header-bg3.png);
    background-repeat: no-repeat;
    height: 200px;
}

.carousel-inner {
    height: 300px;
}

.card {
    box-shadow: 4px 5px 14px 0px #9baab0cf;
    ;
}

footer {
    background-image: url(../images/footer-bg.png);
    background-repeat: no-repeat;
    /* height: 320px; */
}

@keyframes upDownAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.animatedUpDown {
    animation: upDownAnimation 3s ease-in-out infinite;
}

.font {
    font-size: 3rem;
}

.active {
    color: #084d92 !important;
    font-weight: 700;
}

.banner-text {
    font-family: 'Lato', sans-serif;
    letter-spacing: 5px;
    font-size: 3.2rem;
    text-align: center;
}

.contactus {
    background: linear-gradient(to right, #26559b38, #084d92);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactbox {
    box-shadow: 0px 0px 12px 0px #00000040;
}

.contactbox .login_form {
    padding: 3rem;
}

.form-control {
    border: 0;
    border-bottom: 3px solid #11499E;
    border-radius: 0;
}

.form_button {
    background-color: #11499E;
    color: #000;
}

.navbar-toggler {
    background-color: #11499E;
}

.navbar-brand {
    display: contents;
}

.Copyright {
    color: #f0ffffd6;
}
.nav-link:hover{
 color: #084d92!important;
 font-weight: 400;
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 25%;
    }

    .box {
        margin-top: 12%;
    }

    #navbarNav {
        background-color: #0065ff3d;
    }

}